/* ------------------------Global Styles------------------------------ */
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.mainContent {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  gap: 2em;
  justify-content: center;
  margin-top: 5em;
  font-family: 'snicker', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.mainContent h2 {
  text-align: center;
}

.loginContent {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-top: 5em;
}

/* ------------------------Header Styles------------------------------ */

.header {
  position: relative;
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header h1 {
  font-family: 'snicker', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2em;
  text-align: center;
}

.headerBG {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: -9;
}

.headerBG img {
  width: 100vw;
}

.logo {
  width: 50px;
}

.authBox {
  text-align: center;
  width: 50px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

/* ------------------------Footer Styles------------------------------ */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 350px;
  z-index: -10;
}

.footerBG {
  position: absolute;
  width: 100vw;
  bottom: 0;
}

.footerLinks {
  width: 100vw;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 2rem;
  background: var(--accent-light-orange);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 5;
}

.footerLinkBox {
  width: 50px;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  transition: all 0.4s ease;
}

.footerLinkBox a {
  font-family: 'snicker', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  transition: all 0.4s ease;
}

.footerLinkBox:hover {
  border-bottom: 3px solid var(--main-black);
  width: 100px;
}

/* ------------------------About Page Styles------------------------------ */

.about {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.aboutContent {
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
  font-family: 'snicker', sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* ------------------------Home Page Styles------------------------------ */

.expBox {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
  justify-content: center;
}

.expItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
}

.expName {
  border: 2px solid var(--main-black);
  border-radius: 20px 40px 40px 20px;
  padding: 0.5em 1em;
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--main-white);
}

.expTag {
  background: var(--main-green);
  border: 2px solid var(--main-black);
  height: 40px;
  width: 35px;
  border-radius: 40px 20px 20px 40px;
  cursor: pointer;
}

.expTrash {
  border: none;
  background: none;
  color: var(--main-black);
  cursor: pointer;
}

.addTodo {
  background: var(--main-orange);
  border: 2px solid var(--main-black);
  border-radius: 999em;
  padding: 0.5em 1em;
  font-family: 'snicker', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.25em;
}

/* ------------------------Todo Page Styles------------------------------ */

.todoContent {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  gap: 2em;
  justify-content: center;
  margin-top: 5em;
  font-family: 'snicker', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.todoBox {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.todoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  padding: 0.25em 1em;
  border: 1px solid black;
  border-radius: 1em;
}

.todoItem input {
  accent-color: var(--main-green);
}

.todoItem input[type='checkbox']:checked + label.strikethrough {
  text-decoration: line-through;
}
