/* ------------------------Global Styles------------------------------ */
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.mainContent {
  align-items: center;
  overflow-y: scroll;
  display: flex;
  flex-flow: column nowrap;
  max-height: 70vh;
  gap: 1em;
  justify-content: center;
  font-family: 'snicker', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.mainContent h2 {
  margin-top: 1em;
  text-align: center;
}

.loginContent {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  text-align: center;
  margin-top: 3em;
  color: var(--dark-brown);
}

.loginContent h4 span {
  font-size: 1.5em;
  line-height: 2em;
}

/* ------------------------Header Styles------------------------------ */

.header {
  position: relative;
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--light-green);
  border-bottom: 1px solid var(--main-green);
}

.headerBG img {
  width: 100vw;
}

.logo {
  width: 50px;
}

.headerTitle {
  font-size: 1.5em;
  color: var(--dark-brown);
}

.headerTitleEnd {
  color: var(--dark-green);
}

.authBox {
  text-align: center;
  width: 50px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: none;
  color: var(--dark-green);
}

/* ------------------------Footer Styles------------------------------ */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 150px;
  background-image: linear-gradient(var(--main-brown), var(--dark-brown));
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.footerDivider {
  height: 100px;
  border-left: 1px solid var(--main-black);
}

.footerLinkActive svg {
  height: 40px;
  width: 40px;
  color: var(--dark-brown);
}

.footerLink svg {
  height: 35px;
  width: 40px;
  color: var(--main-black);
}

/* ------------------------About Page Styles------------------------------ */

.about {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  z-index: 1;
}

.aboutContent {
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
}

/* ------------------------Home Page Styles------------------------------ */

.expBox {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
  justify-content: center;
}

.expItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
}

.expName {
  border: 2px solid var(--main-black);
  border-radius: 20px 40px 40px 20px;
  padding: 0.5em 1em;
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--main-white);
}

.expTag {
  background: var(--main-green);
  border: 2px solid var(--main-black);
  height: 40px;
  width: 35px;
  border-radius: 40px 20px 20px 40px;
  cursor: pointer;
}

.expTrash {
  border: none;
  background: none;
  color: var(--main-black);
  cursor: pointer;
}

.addTodo {
  background: var(--main-orange);
  border: 2px solid var(--main-black);
  border-radius: 999em;
  padding: 0.5em 1em;
  font-size: 1.25em;
}

/* ------------------------Todo Page Styles------------------------------ */

.todoContent {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  gap: 2em;
  justify-content: center;
  margin-top: 5em;
}

.todoBox {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.todoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  padding: 0.25em 1em;
  border: 1px solid black;
  border-radius: 1em;
}

.todoItem input {
  accent-color: var(--main-green);
}

.todoItem input[type='checkbox']:checked + label.strikethrough {
  text-decoration: line-through;
}

/* ------------------------Space Page Styles------------------------------ */
.spaceContent {
  align-items: center;
  overflow-y: scroll;
  display: flex;
  flex-flow: column nowrap;
  max-height: 70vh;
  gap: 1em;
  justify-content: center;
}

.pageContent {
  align-items: center;
  overflow-y: scroll;
  display: flex;
  flex-flow: column nowrap;
  max-height: 70vh;
  gap: 1em;
  justify-content: center;
}

.homeContent {
  align-items: center;
  overflow-y: scroll;
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
  justify-content: center;
}

.homeStats {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background-color: var(--dark-brown);
  color: var(--main-white);
  border-radius: 1em;
}

.homeStat {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;

  width: 200px;
}
